In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/benji/opt/anaconda3/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/benji/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/benji/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/benji/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/benji/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [3]:
bos17 = pd.read_csv('../files/redsox_2017_hitting.txt', sep = ',')
bos18 = pd.read_csv('../files/redsox_2018_hitting.txt', sep = ',')

In [4]:
# step 1: Add a new column with the key 'Team' and all column values should be 'BOS'

# step 2: Group by the 'Team' column and get total home runs and rbi's

# Produce data for both 2017 and 2018 (ie print both seperated by a newline character \n)

"""
TEAM    HR   RBI
----------------
BOS     144  538
"""

bos17['Team'] = 'BOS'
bos18['Team'] = 'BOS'
print(bos17.groupby('Team').sum()[['HR','RBI']])
print('')
print(bos18.groupby('Team').sum()[['HR','RBI']])

       HR  RBI
Team
BOS   168  735

       HR  RBI
Team
BOS   208  826

In [5]:
bos17.mean()[['Age']]

Age    27.478261
dtype: float64